<form method="POST" action="/bmi/calculate">
  <div class="form-group">
    <label for="weight">Weight (in kgs) </label>
    <input  class="form-control" name="weight" >
   </div>
  <div class="form-group">
    <label for="height">Height (in cms) </label>
    <input  class="form-control" name="height"  >
  </div>
   <button type="submit" class="btn btn-primary">Submit</button>
</form>
